In [2]:
import pyodbc
import pandas as pd
import requests
import json

In [10]:
cnxn = pyodbc.connect('DRIVER={SQL Server};' 
                      'Server=.\SQLEXPRESS;'
                      'Database=TheLibrary;'
                      'Trusted_Connection=yes')
cur = cnxn.cursor()

In [11]:
result = cur.execute("INSERT INTO RegisteredStudents(StudentID, FirstName, LastName, GraduationYear, Branch) \
            VALUES  ('00052022CSE', 'Primera', 'Rose', '01-05-2022', 'Computer Science Engineering')")

In [12]:
cnxn.commit()

In [13]:
result.rowcount

1

In [14]:
cur.execute("SELECT * FROM RegisteredStudents")
rows = cur.fetchall()

In [15]:
print("Dues")
for r in rows:
    print(f"{r.FirstName} {r.LastName} - {r.FineDue}")

Dues
Adam Dill - 0.0000
Sydney Grace - 0.0000
Jimmy Smith - 0.0000
Ana John - 0.0000
Primera Rose - 0.0000

In [16]:
cur.commit()

In [17]:
student_data = ['00062022CHE', 'Denny', 'Matthews', '01-05-2022', 'Chemical Engineering']

In [18]:
cur.execute("INSERT INTO RegisteredStudents(StudentID, FirstName, LastName, GraduationYear, Branch) \
            VALUES  (?,?,?,?,?)", student_data)

In [19]:
cur.commit()

#### Get-Student-Query

In [20]:
student_id = "00062022CHE"
get_student_sql = "SELECT * FROM RegisteredStudents \
                    WHERE StudentID = ?"

student = cur.execute(get_student_sql,student_id).fetchone()

In [21]:
# for student in students:
print(f"Student ID: {student.StudentID}\nStudent Name: {student.FirstName} {student.LastName}\n\
Branch: {student.Branch}\nGraduation Year: {student.GraduationYear}\nBooks Issued Currently: {student.BooksCurrentlyIssued}\n\
Total Books Issued: {student.TotalBooksIssued}\nStudent Banned: {student.StudentBanned}")

Student ID: 00062022CHE
Student Name: Denny Matthews
Branch: Chemical Engineering
Graduation Year: 2022-01-05
Books Issued Currently: 0
Total Books Issued: 0
Student Banned: NO

In [22]:
{"Student ID": student.StudentID,
                    "Student Name": student.FirstName+' '+student.LastName,
                    "Branch": student.Branch,
                    "Graduation Year": student.GraduationYear,
                    "Number of Books Issued Currently": student.BooksCurrentlyIssued,
                    "Cumulative Number Books Issued": student.TotalBooksIssued,
                    "Is the Student Banned": student.StudentBanned }

{'Student ID': '00062022CHE',
 'Student Name': 'Denny Matthews',
 'Branch': 'Chemical Engineering',
 'Graduation Year': '2022-01-05',
 'Number of Books Issued Currently': 0,
 'Cumulative Number Books Issued': 0,
 'Is the Student Banned': 'NO'}

### Adding a Book

In [25]:
cur.execute("INSERT INTO Books(BookID, BookName, Authors, AuthorAlias, BookEdition) \
            VALUES ('ID_0001C', 'Gone Girl', 'Gillian Flynn', NULL, NULL )")

In [27]:
cur.commit()

### Get Book Query

### By ID

In [ ]:
book_id = 'ID_0001A'
book = cur.execute("SELECT * FROM Books WHERE BookID = ?", book_id).fetchone()

In [ ]:
book

In [113]:
{'Book ID': book.BookID, 'Book Name': book.BookName, 'Authors': book.Authors, 
 'Book Alias': book.AuthorAlias, 'Book Edition': book.BookEdition, 'Book Dated': book.AddedtoLibDate, 
 'Book Status': book.BookStatus }

{'Book ID': 'ID_0001A',
 'Book Name': 'Ikigai',
 'Authors': 'Hector Garcia, Francesc Miralles',
 'Book Alias': None,
 'Book Edition': None,
 'Book Dated': '2024-03-09',
 'Book Status': 'Available'}

In [114]:
type(book)

pyodbc.Row

### By keyword

In [74]:
# our input
search_query = f"%{input()}%"

girl

In [77]:
by_author_query = "SELECT * FROM Books WHERE Authors LIKE ? OR WHERE BookName LIKE ? "

In [80]:
books = cur.execute(by_name_query, search_query).fetchall()

if not books:
    print('NONE')    

else:
    result = {}
    for idx, book in enumerate(books):
        result[idx] = {'Book ID': book.BookID, 'Book Name': book.BookName, 'Authors': book.Authors, 
         'Book Alias': book.AuthorAlias, 'Book Edition': book.BookEdition, 'Book Dated': book.AddedtoLibDate, 
         'Book Status': book.BookStatus }
    print(result)

{0: {'Book ID': 'ID_0001C', 'Book Name': 'Gone Girl', 'Authors': 'Gillian Flynn', 'Book Alias': None, 'Book Edition': None, 'Book Dated': '2024-03-09', 'Book Status': 'Available'}}

In [61]:
result

{0: {'Book ID': 'ID_0001A',
  'Book Name': 'Ikigai',
  'Authors': 'Hector Garcia, Francesc Miralles',
  'Book Alias': None,
  'Book Edition': None,
  'Book Dated': '2024-03-09',
  'Book Status': 'Available'}}

In [105]:
book_query = "gi"
book_queries = [book_query, book_query, book_query]
books = cur.execute("SELECT * FROM Books \
                    WHERE BookName LIKE ? OR \
                    BookID LIKE ? OR \
                    Authors LIKE ?", book_queries).fetchall()

In [106]:
books

[]

### Add Book query

In [23]:
# a json object entry format
book = {
    "id": "ID_0001D",
    "name": "Kafka on the Shore",
    "authors": "Haruki Murakami",
    "alias": None,
    "book edition": None} 

book_data = list(book.values())

cur.execute("INSERT INTO Books(BookID, BookName, Authors, AuthorAlias, BookEdition) \
            VALUES (?,?,?,?,?)", book_data)

In [24]:
cur.commit()

In [104]:
test = {
    "id": "ID_0001D",
    "name": "Kafka on the Shore",
    "authors": "Haruki Murakami",
    "alias": None,
    "book edition": None}

json_file = json.dumps(test)